#blocklyDiv {
  height: 70%;
  width: 100%;
  position: absolute;
  bottom: 0;
}

#blocklyDiv .blocklyToolboxCategory {
  height: 100%;
  
}
.blocklyToolboxDiv{
  background:#403b3b;
}
.blocklyToolboxCategory .blocklyTreeRow{
  line-height: normal;
  height: auto;
}

#blocklyDiv .blocklyTreeRow {
  @apply  py-2;
}

