:root{
  --primary-color:rgb(2 58 229 / var(--tw-bg-opacity))
}
.App-logo {
  height: 20vmin;
  border-radius: 50%;
  margin-bottom: 10px;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #fff;
  overflow: hidden;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#overlayConvertBox.hidden{
  transition: display 0.8s ease-in-out;
}
#convertContainer{
  transition: transform 0.8s ease-in-out;
  transition: width 0.5s ease-in-out;
}
#convertContainer.closeConvertAnimation{
  transform: translateX(50%);
  width: 50px;
}
#convertContainer.closeConvertAnimation #overlayConvertBox{
display: block!important;
opacity: 1!important;
}

@keyframes closeAnimation{
  from {
    opacity: 0;
    background: #333;
  }
  to {
    opacity: 1;
  }
}
.animationOpacity{
  animation:closeAnimation 0.8s ease-in-out forwards;

}
.blocklyTrash{
  transition: transform 0.8s ease-in-out;
}
.openConvertBoxContainer .blocklyTrash{
  transform: translate(1150px, 550px)!important
}